.todo_checkbox{
    width: 1.2;
    height: 1.2;
}
.todo_checkbox_wrapper{
    display: flex;
    justify-content: center;
}
.ellipsis_text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  